.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.panel-left {
  width: 220px;
  min-width: 160px;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.panel-center {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #1e1e22;
}

.panel-right {
  width: 280px;
  min-width: 200px;
  border-left: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.panel-right-top {
  flex: 1;
  border-bottom: 1px solid #333;
  overflow: hidden;
}

.panel-right-bottom {
  height: 350px;
  min-height: 200px;
  overflow: hidden;
}
